@charset "utf-8";
/*.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:20px;
}*/
.tablecontent{
    overflow-x: scroll;
}
.trlation-body .form-group {
    padding-left: 10px;
    padding-right: 10px;
}
.trlation-body .form-group .control-label {
    padding-left: 0px;
    padding-right: 5px;
    text-align: right;
    font-size: 12px;
}
.trlation-body .form-group .col-md-9 {
    padding-right: 0px;
    padding-left: 0px;
}

#relationTable td {
    padding: 0px 4px !important;
}