<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hy.flowmanage.dao.ProcessVariableEntityDao" >
  <resultMap id="BaseResultMap" type="cn.hy.flowmanage.pojo.ProcessVariableEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="processid" property="processid" jdbcType="VARCHAR" />
    <result column="procesnodeid" property="procesnodeid" jdbcType="VARCHAR" />
    <result column="variableName" property="variablename" jdbcType="VARCHAR" />
    <result column="variableVal" property="variableval" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectBySQL" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		${ _parameter}
	</select>
	<select id="selectMapBySQL" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		${ _parameter}
	</select>
	<insert id="insertBySQL" parameterType="java.lang.String">
		${ _parameter}
	</insert>
	<update id="updateBySQL" parameterType="java.lang.String">
		${ _parameter}
	</update>
	<delete id="deleteBySQL" parameterType="java.lang.String">
		${ _parameter}
	</delete>
</mapper>